body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Roboto', sans-serif;
}

.header {
	height: auto;
	width:100%;
	background-color: #e2e2e2;
	-webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,0.9); 
	box-shadow: 0 3px 3px -2px rgba(0,0,0,0.9);
}

.header-content {
	padding:10px;
}

.header-image {
	height:17vh;
	width:100%;
	object-fit: cover;
	background-color:black;
}

.profile-avatar {
	height: 126px;
	width: 126px;
	border-radius:500px;
	display:block;
    margin:auto;
    object-fit: cover;
    margin-top:-6.5vh;
}

h1, h2, h3 {
	color:#848484;
	text-align:center;
	margin: 5px;
}

h1 {
	color:#424242;
	text-transform:uppercase;
}

h2 {
	color:#6b6b6b;
}


/* main past project div */

.past-items {
	margin-top:2vh !important; 
	height: auto;
	margin-bottom: 3vh;
	background-color: #e2e2e2;
	-webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,0.9); 
	box-shadow: 0 3px 3px -2px rgba(0,0,0,0.9);
	padding:15px;
}

.past-items h1 {
	text-align:left;
	font-size:28px;
	padding-bottom:15px;
}

/* container for all project divs */

.item-container {
	height: 32vh;
	width: 90%;
	margin: 0 auto;
	overflow:auto;
	background-color:#d2d2d2;
}


/* styling of seperate items within item container */

.c-item, .blog-item {
	background-color:#c5c5c5;
	height: auto;
  	margin: 0 auto;
  	width: 70%;
  	margin-top:1vh;
  	margin-bottom: 1vh;
  	padding:2px;
  	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.61); 
	box-shadow: 0 2px 2px -2pxx rgba(0,0,0,0.61);
}

.blog-item {
	padding:12px;
	margin-top:22px;
	margin-bottom:22px;
	width: 85%;
	background-color: #e2e2e2;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.61); 
	box-shadow: 0 2px 2px -2pxx rgba(0,0,0,0.61);
}

.c-item h1, .blog-item h1, .c-item h2, .blog-item h2, .c-item h3, .blog-item h3 {
	text-align:left;
	padding:0px;
}

.c-item h1, .blog-item h1 {
	text-transform:uppercase;
	font-size:25px;
}

.c-item h2, .blog-item h2 {
	font-weight: normal;
	font-size: 20px;
}

.c-item h3, .blog-item h3 {
	font-style:italic;
	font-weight: normal;
	font-size:13px;
}

.c-item img {
	width: 25px;
}

.blog-avatar {
	float:left;
	width: 60px !important;
	height: 60px  !important;
	display:block;
    margin:auto;
    object-fit: cover;
    border-radius: 500px;
    padding: 12px;
}

.blog-content {
	margin-left:78.5px;
}

.blog-img {
	width: 66%;
	height: 400px;
	display:block;
    display:block;
    margin:auto;
    object-fit: cover;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.61); 
	box-shadow: 0 2px 2px -2pxx rgba(0,0,0,0.61);


}


.image-control {
	width: 66%;
	height: 5%;
	display:block;
    margin:auto;
}

.gallery-btn {
	width: 50%;
	background-color: #009433;
	border: 0px white solid;
}

.gallery-btn:focus {
	background-color: #00ce47;
}


.btn-left {
	float: left;
	border-right:2px white solid;
}

.btn-right {
	border-left:2px white solid;
}


/* search/upper bar css */
.upperbar {
	background-color: #009433;
	width: 100%;
	height: 85px;
	-webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,0.9); 
	box-shadow: 0 3px 3px -2px rgba(0,0,0,0.9);
	z-index:500;
}

.upperbar img {
	width: 64px;
	height: auto;
	margin-top:11px;
	margin-left:15px;
    border-radius:300px;
    float:left;
}

input[type=text] {
	width: 30% !important;
	height: 21px;
	margin-top:28px;
	margin-left:27%;
	border-radius:5px;
	border: 0px white solid;
}

input[type=text]:active {
	width:30%;
}

/* misc */

::-webkit-scrollbar {
width: 10px;
background: #fff;
border: 1px solid #000; 

}

::-webkit-scrollbar-thumb {
background: #4c4c4c;
border: 1px solid #000; 
}



